<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>

  <body>
    <h1><%= snake.name %></h1>
    <h3>Name: <%= snake.name %></h3>
    <h3>Length (in Feet): <%= snake.length %></h3>
    <h3>Venomous?: <%= snake.venomous %></h3>
    <a href="/snakes/edit/<%= snake._id %>">Edit Snake</a>
    <a href="/">Back</a>
  </body>
</html>
